ul,li{
    list-style: none;
}
li{
    width: 40%;
    font-size: 14px;
    float: left;
    margin: 5%;
    height: 250px;
}
img{
    width: 200px;
    height: 200px;
}
span{
    color: red;
    text-align: center;
}